:root {
	--bs-bg-opacity: 0.75;
}

body {
	background-color: #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.main {
	padding: 5px;
}

.fs-7 {
	font-size: 0.8rem;
}

.profile-pic {
	padding: 20px 0;
}
.profile-pic img {
	width: 100px;
	height: 100px;
}

.profile-entry {
	display: table;
}

.flex-1 {
	flex: 1;
}

.print-item {
	break-inside: avoid;
}

@media print {
	.profile-entry {
		display: flex;
	}
	.profile-entry span.d-table-cell {
		display: block;
	}
	.print-center {
		text-align: center;
	}
}
